{% extends "base.html" %}
{% block title %}Opus Project Editor{% endblock %}

{% block content %}
<h1>Project {{ project.name }}</h1>
{% if message %}
<div style="color: #FF0000; font-weight: bold;">
    {{ message }}
</div>
{% endif %}
Info:
<ul>
    {% if project.active %}
        {% for u in project.get_urls %}
            <li>Serving at <a href="{{ u }}">{{ u }}</a></li>
        {% endfor %}
    {% else %}
        <li>Not serving, project de-activated</li>
    {% endif %}
    <li>Deployed at {{ project.projectdir }}</li>
    <li>Owned by {{ project.owner }}</li>
</ul>

<div>
    <h2>Change deployment parameters</h2>
    <b>Note: Filling in the Super User information will create a <i>new</i> super user</b>
    <form action="{% url opus.project.deployment.views.edit_or_create project.name %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" />
    </form>
</div>
<h2>Applications</h2>
<ul>
    <li>
<a href="{% url opus.project.deployment.views.editapp project.name %}">
    Edit Applications</a>
</li><li>
<a href="{% url opus.project.deployment.views.set_app_settings project.name %}">
    Edit Application Settings</a>
</li></ul>

<form method="post" action="{% url opus.project.deployment.views.addapp project.name %}">
    {% csrf_token %}
    <h2>Add new application</h2>
    {{ appform.as_p }}
    <input type="submit" value="Add" />
</form>

<hr />
<hr />
<hr />

<form action="{% url opus.project.deployment.views.destroy project.name %}"
    method="post">
    {% csrf_token %}
    <input style="color: #000000;background-color: #FF0000" type="submit" value="DESTROY THIS PROJECT CAREFUL DON'T PUSH THIS
    BUTTON UNLESS YOU REALLY REALLY MEAN IT!" />
</form>

{% endblock %}
