{% extends "base.html" %}
{% block title %}Deployed Projects{% endblock %}

{% block content %}
    <p>Choose a Project to edit</p>
    <table border="1">
        <tr><td>Project Name</td><td>Owner</td><td>Active?</td></tr>
    {% for p in deployments %}
    <tr>
        <td><a href="{% url opus.project.deployment.views.edit_or_create p.name %}">{{ p.name }}</a></td>
        <td>{{ p.owner }}</td>
        <td>{{ p.active }}</td>
    </tr>
    {% endfor %}
    </table>
    <div>
        <form action="{% url opus.project.deployment.views.list_or_new %}" method="get">
            <input name="name" />{{ suffix }}
            <input type="submit" value="New" />
        </form>
{% endblock %}
