{% extends "base.html" %}
{% block title %}New Opus Project{% endblock %}
{% block head %}
<script src="/media/admin/js/jquery.js" type="text/javascript" />
{% endblock %}

{% block content %}

    <h1>Create a new Project</h1>
    <b>Enter information below</b>
    <form action="" method="POST">
    {% csrf_token %}
    {{appform.management_form}}
    {{projectform.as_p}}
    <table id="apptable">
        <tr style="font-weight: bold">
            <td>App Path</td><td>App Source</td>
        </tr>
        {% for form in appform.forms %}
        <tr>
            {% for field in form.visible_fields %}
            <td>{{field.errors}}{{field}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Create" />
    </form>
{% endblock %}
