{% extends "base.html" %}
{% block title %}Applications{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/media/admin/css/base.css" /> 
<link rel="stylesheet" type="text/css" href="/media/admin/css/forms.css" /> 

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/admin/js/core.js"></script>

{{ form.media }}

<style type="text/css">
    #content table, #content td {
        border:0;
    }
    #content table {
        border: 3px ridge #A30D01;
    }
    #content td {
        padding: 20px;
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}
    {% if app_library %}
        <table>
            <tr>
                <th>Choose an Application:</th>
            </tr>
            {% for app in app_library %}
                <tr>
                    <td><a href="/vdi/{{ app.pk }}/connect"><img src="{{app.icon_url}}" height="75" border="2" alt="Connect to {{app.name}}" /></a></td>
                </tr>
            {% endfor %}
        </table> 

    {% else %}
        <p>No applications are available.</p>
    {% endif %}

{% endblock %}
