<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}Opus{% endblock title %}</title>
        {% block head %}{% endblock head %}
        {% if institution %}
            <link href="{{vdi_media_dir}}schools/{{institution}}/style.css"
                  rel="stylesheet" type="text/css" />
        {% endif %}
    </head>
    {% block body_tag %}<body>{% endblock body_tag %}
        <div id="head_bar" />
        <div id="main">
            <div id="navigation">
                <a href="/vdi/">Application Library</a> -
                <a href="/vdi/logout/">Logout</a>
            </div>
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
            <div id="content">
                <br />
                {% block content %}{% endblock content %}
            </div>
        </div>
    </body>
</html>
