{% if desktops %}
    <table border="1">
        <tr><td>Desktop</td><td>Actions</td></tr>
        {% for instance in desktops %}
            <tr>
            <td>{{ instance.state }}</td>
            <td><center>
            {% ifequal instance.state "running" %}
                <a href="{% url mysite.vdi.views.desktop %}{{ instance.id }}/connect">connect</a>
                <a href="{% url mysite.vdi.views.desktop %}{{ instance.id }}/save">Save as New Image</a>
            {% endifequal %}
            <form action="{% url mysite.vdi.views.desktop %}{{ instance.id }}/delete" method="post">
            {% csrf_token %}
            <input type="submit" value="Off" />
            </form></center></td>
            </tr>
        {% endfor %}
    </table> 
{% else %}
    <p>No desktops are available.</p>
{% endif %}

