{% extends "base.html" %}
{% block title %}Image Library{% endblock %}

{% block content %}

    {% if image_library %}
        <table border="1">
            <tr><td>Name</td><td>Operating System</td><td>Description</td><td>Actions</td></tr>
            {% for image in image_library %}
                <tr>
                <td>{{ image.name }}</td>
                <td>{{ image.platform|capfirst }}</td>
                <td>{{ image.description }}</td>
                <td><center><form action="{% url vdi.views.desktop %}new?name={{ image.id }}" method="post">
                {% csrf_token %}
                <input type="submit" value="On" />
                </form></center></td>
                </tr>
            {% endfor %}
        </table> 
    {% else %}
        <p>No images are available.</p>
    {% endif %}

{% endblock %}
