{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

    {% if ldap_servers %}
    {% if ldap_error %}
    {% for key,value in ldap_error %}
            <font color="red">{{value}}</font>
    {% endfor %}
    {% endif %}
        <form action="{% url vdi.views.login %}" method="post">
            <label>Username:</label><input type="text" name="username"><br>
            <label>Password:</label><input type="password" name="password"><br>
            <select name="server">
                {% for server in ldap_servers %}
                    <option value="{{ server.id }}">{{server.name}}</option>
                {% endfor %}
            </select>
            {% csrf_token %}
            <input type="submit" value="On" />
        </form>
        
    {% else %}
        <p>There are no LDAP servers in the database.</p>
    {% endif %}

{% endblock %}
