.mainPanel {
  	background: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E3E3E3), to(#8F8F8F), color-stop(.6,#999999))');
  	background-image: literal('-moz-linear-gradient(0% 0% 90deg, #E3E3E3, #8F8F8F, #999999 60%)');
  	position: absolute;
    top: 0; 
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
.subMainPanel {
	width: 95%;
	height: 94%;	
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2%;
    /*margin-bottom: 2.5%;*/
    background:	literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#575757), to(#121212), color-stop(.4,#333333))');
    background:	literal('-moz-linear-gradient(0% 0% 90deg, #575757, #121212, #333333 40%)');
	border-radius: 10px;
	-webkt-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 7px 7px 7px #121212;
    -moz-box-shadow: 7px 7px 7px #121212;
    box-shadow: 7px 7px 7px #121212;
}
.topBarPanel {
	background: black;	
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	padding: 0.2% 0% 0% 1%;
}
.topBarLink {
	cursor: pointer;
	cursor: hand;
	color: white;
	float: left;
	margin-right: 1%;
}
.titleBar {
	padding: 0.4% 0% 0% 1%;
    color: white;
    font-size: 3.4em;
    width: 100%;
    height: 100%;
    margin: 0%;
    text-shadow:10px 10px 5px #0F0F0F;
    font-family: "Droid Serif";
}
.navigationMenu {
	width: 84%;
	height: 98%;
	padding: 10% 0 0 12%;
}
.mainDeckPanel{
	width: 97.5%;
	height: 97%;
	padding: 0 0 15% 0;
}
.topMenuPanel{
	background: black;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-bottom: 1px solid gray;
}
.topDashboardButton{
	cursor: pointer;
	cursot: hand;
	background: black;
	border: none;
	color: white;
	float: left;
	border-right: 1px solid gray;
	margin-left: 0.75%;
	margin-top: 0.3%;
	font-family: "Droid Serif";
}
.topDashboardButtonActive{
	cursor: pointer;
	cursot: hand;
	background: white;
	border: none;
	color: black;
	float: left;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	margin-left: 0.75%;
	margin-top: 0.3%;
	font-family: "Droid Serif";
}
.topDeployNewButton{
	cursor: pointer;
	cursot: hand;
	background: black;
	border: none;
	color: white;
	float: left;
	margin-left: 0.2%;
	margin-top: 0.3%;
	font-family: "Droid Serif";
}
.dashboardsPopup {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	background: white;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	padding: 0.5% 0.5% 0.5% 0.5%;
}
.popupLabel {
	color: black;	
	text-align: center;
	border-bottom: 1px solid gray;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	cursor: pointer;
	cursor: hand;
}