.AppActionButton {
	width: 100px;
	height: 50px;
}
.important {
	font-weight: bold;
}
.appBrowser {
	width: 96%;
	height: 60%;
	margin:	 2% 1% 1% 1%;
	border: solid grey 2px;
	padding: 10px;
	-webkit-border-radius: 10px;
   	-moz-border-radius: 10px;
   	background: white;
}
.appInfo {
	float: left;
	width: 45%;
}
.AppActionButtonHidden {
	display: none;
}
.DeployButtonHidden {
	bottom: 15px;
	right: 10px;
	width: 60px;
	height: 40px;
	float: right;
}
.RemoveButton {
	float: right;
	bottom: 70px;
	right: 10px;
	width: 60px;
	height: 40px;
	color: red;
}
.DeployListFlowPanel {
	max-height: 100px;
	width: 98%;
}
.RootLayoutPanel{
	margin: 0;
	padding: 0;
}
.allAppsLabel {
	background: #CED5F5;
	color: azure;
	width: 100px;
	float:left;
	padding: 3px;
	margin-left: 2px;
	margin-top: 10px;
	-webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0; 
    text-align: center;
    cursor: pointer;
    cursor: hand;
}
.featuredAppsLabel {
	margin-top: 10px;
	margin-left: 40px;
	background: #CED5F5;
	color: azure;
	width: 100px;
	float:left;
	padding: 3px;
	-webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    text-align: center;
    cursor: pointer;
    cursor: hand;
}
.allAppsLabelActive {
	margin-top: 10px;
	margin-left: 2px;
	background: grey;
	color: azure;
	width: 100px;
	float:left;
	padding: 3px;
	-webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    text-align: center;
}
.featuredAppsLabelActive {
	margin-left: 40px;
	margin-top: 10px;
	background: grey;
	color: azure;
	width: 100px;
	float: left;
	padding: 3px;
	-webkit-border-radius: 10px 10px 0 0;
   	-moz-border-radius: 10px 10px 0 0;
   	text-align: center;
}
.DeployList {
	margin-left: auto;
	margin-right: auto;
	width: 96.5%;
	margin: 2% 1% 2% 1%;
	height: 120px;
	border: solid #F5CC7F 2px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 10px;
	background: #F5CC7F;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-bottom: 2px solid #AD905A;
	border-right: 2px solid #AD905A;
}
.AppList {
	float: left;
	width: 65%;	
	height: 100%;
}
.AppInfo {
	width: 30%;
	height: 100%;
	float: left;
}
.ListGrid {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.innerSubMainPanel {
	border: 4px solid orange;
	margin-left: 0%;
	margin-top: 0.5%;
	margin-right: 0.5%;
	magin-bottom: 0.5%;
	height: 100%;
	width: 100%; 
	background: white;
	border-radius: 10px;
	-webkt-border-radius: 10px;
	-moz-border-radius: 10px;
	font-size: 0.8em;
}
img {
	width: 64px;
	height: 64px;
}
.appIcon {
	color: black;	
	text-align: left;
	cursor: pointer;
	cursor: hand;
	float: left;
	max-width: 220px;
	min-width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.appIconActive{
	color: black;	
	text-align: left;
	cursor: pointer;
	cursor: hand;
	background: grey;
	float: left;
	max-width: 220px;
	min-width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
        color: white;
}
.appIconSmall {
	color: black;	
	text-align: center;
	cursor: pointer;
	cursor: hand;
	float: left;
	min-width: 100px;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: white;
	margin: 0 10px 0 0;
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
.appIconSmallActive{
	color: white;	
	text-align: center;
	cursor: pointer;
	cursor: hand;
	background: grey;
	float: left;
	min-width: 100px;
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	margin: 0 10px 0 0;	
}


