.appInfoContainer h1 {
    font-weight: bold;
    font-size: 20px;
    padding: 0 5px 0 0;
    margin-bottom: 3px;
    color: #F2A938;
}
.appInfoContainer h2 {
    font-weight: normal;
    font-size: 14px;
    padding: 0 5px 0 0;
    margin-bottom: 3px;
    margin-top: 0;
}
.appInfo {
	padding-left: 20px;
}
.appInfo img {
    margin: 0 10px 10px 0;
}
.appInfoContainer {
    margin-bottom: 20px;
}
.AppActionButton {
	width: 100px;
	height: 50px;
	position: absolute;
	bottom: 1%;
	right: 1%;
}
.important {
	font-weight: bold;
}
.appBrowser {
	width: 96%;
	height: 65%;
	margin:	 0 1% 0 1%;
	border: solid #386E2D 3px;
	padding: 10px;
	-webkit-border-radius: 10px;
   	-moz-border-radius: 10px;
   	background: white;
   	font-size: 1em;
   	position: relative;
}

.AppActionButtonHidden {
	display: none;
}
.DeployButtonHidden {
	position: absolute;
	top: 55%;
	right: 1%;
	min-width: 5%;
	height: 30%;
}
.RemoveButton {
	position: absolute;
	float: right;
	top: 15%;
	right: 1%;
	min-width: 5%;
	height: 30%;
	color: red;
}
.DeployListFlowPanel {
	width: 98%;
}
.RootLayoutPanel{
	margin: 0;
	padding: 0;
}
.allAppsLabel {
	background: #5AB048;
	color: azure;
	width: 100px;
	float: left;
	padding: 3px;
	margin-left: 5px;
	-webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0; 
    text-align: center;
    cursor: pointer;
    cursor: hand;
    position: relative;
    bottom: 0px;
    height: 90%;
}
.featuredAppsLabel {
	margin-left: 40px;
	background: #5AB048;
	color: white;
	width: 100px;
	float:left;
	padding: 3px;
	-webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    text-align: center;
    cursor: pointer;
    cursor: hand;
    position: relative;
    bottom: 0px;
    height: 90%;
}
.allAppsLabelActive {
	margin-left: 5px;
	background: #386E2D;
	color: white;
	width: 100px;
	float:left;
	padding: 3px;
	-webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    text-align: center;
    position: relative;
    bottom: 0px;
    height: 100%;
}
.featuredAppsLabelActive {
	margin-left: 40px;
	background: #386E2D;
	color: white;
	width: 100px;
	float: left;
	padding: 3px;
	-webkit-border-radius: 10px 10px 0 0;
   	-moz-border-radius: 10px 10px 0 0;
   	text-align: center;
   	position: relative;
    bottom: 0px;
    height: 100%;
}
.DeployList {
	margin-left: auto;
	margin-right: auto;
	width: 95.5%;
	margin: 1% 1% 2% 1%;
	height: 15%;
	border: solid #F5CC7F 2px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 1%;
	background: #F5CC7F;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-bottom: 2px solid #AD905A;
	border-right: 2px solid #AD905A;
	position: relative;
}
.AppList {
	float: left;
	width: 60%;	
	height: 100%;
}
.AppInfo {
	width: 40%;
	height: 100%;
	float: left;
	positon: relative;
}
.ListGrid {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.innerSubMainPanel {
	height: 100%;
	background: white;
	border-radius: 10px;
	-webkt-border-radius: 10px;
	-moz-border-radius: 10px;
	width: 100%;
}
img {
	width: 64px;
	height: 64px;
}
.appIcon {
	color: black;	
	text-align: left;
	cursor: pointer;
	cursor: hand;
	float: left;
	max-width: 220px;
	min-width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
.appIconActive{
	color: black;	
	text-align: left;
	cursor: pointer;
	cursor: hand;
	background: grey;
	float: left;
	max-width: 220px;
	min-width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
        color: white;
}
.appIconSmall {
	color: black;	
	text-align: center;
	cursor: pointer;
	cursor: hand;
	float: left;
	min-width: 7%;
	height: 90%;
	padding: 1% 1% 1% 1%;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: white;
	margin: 0 1% 0 0;
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
.appIconSmallActive{
	color: white;	
	text-align: center;
	cursor: pointer;
	cursor: hand;
	background: grey;
	float: left;
	min-width: 7%;
	height: 90%;
	padding: 1% 1% 1% 1%;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #f0f0f0;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
	margin: 0 1% 0 0;	
}
.tabPanel {
	height: 2em;	
	margin: 10px 0 0 0;
	position: relative;
}
.projectConfigLabel {
	float: left;	
	margin: 2% 0 0.5% 1.5%;
	font-size: 1.4em;
	font-weight: bold;
	height: 3%;
}
.featuredAppsPanel {
	overflow: auto;
	height: 100%;
}