.breadCrumbsContainer {
	margin: 0 0 10px 0;
	padding: 0;
	height: 2em;
	width: 100%;
	background: #777777;
	color: #FFFFFF;
	font-size: .8em;
}
.breadCrumbsContainer ul {
	list-style: none;
	padding: 0 0 0 0;	
}

.breadCrumbsContainer li {
	padding: 10px;
	list-style: none;	
	float: left;
}
.inactive {
	float: left;
	padding: 5px 0 0 5px;
}
.active {
	color: orange;
}
