.breadCrumbsContainer {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
	padding: 0 0 0 0;	
}
li {
	list-style: none;	
	float: left;
}
.inactive {
	color: black;
	float: left;
}
.active {
	color: red;
	float: left;
}