.breadCrumbsContainer {
	width: 100%;
    height: 100%;
    background: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#A3A3A3), color-stop(1,#333333))');
    font-size: .8em;
	padding-top: 2px;
	position: relative;
	z-index: 1;
	font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
span {
	display: inline;
}
.inactive {
	font-size: 1.1em;
	float: left;
	padding: 0.4em 0 0 0.5em;
	color: white;
}
.active {
	font-size: 1.1em;
	color: orange;
	float: left;
	padding: 0.4em 0 0 0.5em;
}
.crumbFlowPanel{
	float: left;
}
.crumbArrow{
	font-size: 1.1em;
	float: left;
	padding: 0.4em 0 0 0.5em;
}
