.breadCrumbsContainer {
	padding: 0px 0px 10px 5px;
	padding: 0;
	height: 2em;
	width: 100%;
	background: #777777;
	color: #FFFFFF;
	font-size: .8em;
}

span {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.inactive {
	padding: 3px 0px 0px 0px;
	display: inline;
	float: left;
}

.active {
	padding: 3px 0px 0px 0px;
	color: orange;
}
