.navigationContainer{
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #CCCCCC;
	height: 2.5em;
	width: 100%;
	background: black;
	color: white;
}
.logo {
	color: white;
	font-size: 1.25em;
	padding: 0 0 0.2em 0;
	width: 14em;
	float: left;
	margin: 0.3em 0 0 0.5em;
}
.button {
	cursor: pointer;
	cursot: hand;
	border: none;
	float: right;
	background: transparent;
	border-right: 1px solid gray;
	color: white;
	height: 100%;
}
.logoutPanel {
	height: 100%;
	margin: 0;
	float: right;
}
.logoutButton{
	border: none;
}
.username {
	color: orange;
}