.navigationContainer{
	margin: 0;
	padding: 0;
	height: 2em;
	width: 100%;
	border-bottom: 2px solid red;
}
.logo {
	font-size: 1.25em;
	padding: 0 0 0.2em 0;
	width: 14em;
	float: left;
	margin: 0.3em 0 0 0.5em;
}
.button {
	cursor: pointer;
	cursot: hand;
	border: none;
	float: right;
	background: transparent;
	border-right: 1px solid gray;
	margin: 0.5em 0.4em 0em 0.2em;
}
.logoutPanel {
	margin: 0;
	float: right;
}
.logoutButton{
	border: none;
}
.username {
	color: orange;
}