.navigationContainer{
	width: 100%;
	height: 100%;
    background: literal("-moz-linear-gradient(50% 100% 90deg, #4F4F4F, #222222)");
    background: literal("-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F4F4F), to(#222222))");
    color: #FFFFFF;
    box-shadow: 0px 100px 8px #000000;
    -webkit-box-shadow: 0px 100px 8px #000000;
    -moz-box-shadow: 0px 1px 8px #000000;
    position: relative;
    z-index: 10;
}
.navigationContainer h1 {
	/*font-size: 1.7em;
    font-weight: normal;
    padding: 0 0 0.2em 0;
    float: left;*/
    margin: 0.1em 0 0 20px;
    float: left;
    color: orange;
	font-size: 1.7em;	
	font-weight: bold;
	/*margin-bottom: 2em;*/
	padding: 0 0 0.2em 0;
	text-shadow: 4px 4px 3px #B87700;
	/*border-bottom: 2px ridge #CCCCCC;
	-webkit-box-reflect: below 0 literal('-webkit-gradient(linear, left top, left bottom, from(transparent), to(white), color-stop(.4, transparent))');*/
}

.menu {
    height: 24px;
    margin: .8em 20px 0em 0em;
    font-size: .8em;
    float: right;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #222222;
    -moz-box-shadow: rgba(0,0,0,0.3) -1px 0px, rgba(0,0,0,0.5) -1px -1px, rgba(255,255,255,0.3) 1px 1px, rgba(0,0,0,0.1) -1px -2px;
    -webkit-box-shadow: rgba(0,0,0,0.3) -1px 0px, rgba(0,0,0,0.5) -1px -1px, rgba(255,255,255,0.3) 1px 1px, rgba(0,0,0,0.1) -1px -2px;
	/*background: #282828;
	color: #FFFFFF;
	height: 100%;
	box-shadow: 10px 10px 10px white;
	-webkit-box-shadow: 10px 10px 10px white;*/
}
.logo {
	font-size: 1.2em;
	padding: 0 0 0.2em 0;
	width: 14em;
	float: left;
	margin: 0 0 0 0.5em;
	background: transparent;
}
.button {
	cursor: pointer;
	cursor: hand;
	border: none;
	background: transparent;
	border-right: 1px solid #333333;
	margin: 0.3em 0.2em 0em 0.2em;
	color: #FFFFFF;
	float: right;
}

.logoutPanel {
	margin: 0;
	float: right;
}

.logoutButton{
	border: none;
}

.username {
	color: orange;
	cursor: default;
}

.active {
	cursor: pointer;
	cursor: hand;
	border: none;
	float: right;
	background: transparent;
	border-right: 1px solid #333333;
	color: #FFFFFF;
	font-weight: bold;
}

.topProjectsButtonActive{
	cursor: pointer;
	cursot: hand;
	background: white;
	border: none;
	color: black;
	float: right;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	margin: 0.8em 0.4em 0em 0.2em;
	height: 100%;
}

.projectsPopup {
	border: 1px solid gray;
	border-top: none;
	background: #222222;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	padding: 1em 1em;
	z-index: 500;
	-moz-box-shadow: rgba(0,0,0,0.3) -1px 0px, rgba(0,0,0,0.5) -1px -1px, rgba(255,255,255,0.3) 1px 1px;
    -webkit-box-shadow: rgba(255,255,255,0.3) 1px 1px;
}
.popupLabel {
	color: white;	
	text-align: center;
	/*border-bottom: 1px solid gray;*/
	cursor: pointer;
	cursor: hand;
	padding: 0.25em 0.75em;	
}

.popupLabelActive{
	color: #3DABEB;
	text-align: center;
	cursor: pointer;
	cursor: hand;
	padding: 0.25em 0.75em;
}

.lastLabel {
	border-bottom: none;
}
