{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
        <p>Local Login</p>
        <form action="{% url idpauth.views.local_login %}" method="post">
            <label>Username:</label><input type="text" name="username"><br>
            <label>Password:</label><input type="password" name="password"><br>
            <input type="hidden" name="institution" value="{{ institution }}" />
            {% csrf_token %}
            <input type="submit" value="Login" />
        </form>

{% endblock %}
